extends layout

block content  
  div(class="navbar navbar-default navbar-fixed-top")    
      div(class="navbar-header")
        button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")         
        a(href="/" class="navbar-brand") betaville
      div(class="navbar-collapse collapse")        
        ul(class="nav navbar-nav")
          li(class="")
            a(href="/#news") news
          li(class="")
            a(href="/#about") about
          li(class="")
            a(href="/#recent") recent
          li(class="")
            a(href="/#participate") participate

  div(id="admin", class="meat")     
    h1 Admin Dashboard


    table(id="users",class="table")
      thead
        tr
          th user name
          th user type
          th user emails
          th approve user        
          th number of projects                    
      tbody        

  script(type="text/javascript")
    $(function(){  
        if($('#admin').length >0 ){
          var data = !{JSON.stringify(locals)};
          _.each(data.locals[0].data,function (val, key) {
            $("#admin #users tbody").append('<tr data-user="'+val.userName+'"><td><a href="/user/'+val.userName.trim()+'">'+val.userName+'</a></td><td><select><option value="'+val.type+'">'+val.type+'</option><option value="member">member</option><option value="moderator">moderator</option><option value="base_commiter">base_commiter</option><option value="admin">admin</option></select</td><td><a href="mailto:'+val.email+'">'+val.email+'</a></td><td><input type="checkbox" '+(val.activated=="1" ? "checked=checked" : "")+'></td><td>'+(val.designs!="0" ? val.designs : "")+'</td></tr>');
          });

          $("#admin #users tbody tr td input").on("change",function(){
            if (!$(this).is(":checked")){                
              console.log("checked");
            }
            else{
              var userName = $(this).parents("tr").attr("data-user");              
              console.log($(this).parents("tr").attr("data-user") + " unchecked");
              $.ajax({ 
                  url: 'http://5.9.20.212/service/service.php?',            
                  data: 'section=user&request=activateuserByName&user='+userName, 
                  dataType: 'json', 
                  success: function(data) 
                  {                    
                    console.log(userName +" activated");                   
                  }
              });

            }
          });          

          $("#admin #users tbody tr td select").on("change",function(){
            var userType = $(this).val();
            var userName = $(this).closest("tr").attr("data-user");
            
            $.ajax({ 
              url: '/admin/userTypeChange/'+userName+'/'+userType,            
              
              dataType: 'json', 
              success: function(data) 
              {                    
                alert("User "+userName+" type changed to "+userType)

              }
            });            




          });


        };
    });

  script(type="text/javascript", src="/javascripts/bootstrap.min.js")
  script(type="text/javascript", src="/javascripts/libs.js")


