doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')		
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type="text/javascript", src="http://code.jquery.com/jquery-2.0.3.min.js")		
		script(type="text/javascript", src="javascripts/app.js")		




	body
		block content

		footer
			div			
				a(href="./contact") Contact | 
				a(href="http://wiki.betaville.net/doku.php") Wiki | 
				a(href="http://wiki.betaville.net/doku.php") Other links
				p © 2008-2013 <a href="">Brooklyn Experimental Media Center at Polytechnic Institute of New York University</a>

		
