extends layout

block content  
  div(class="navbar navbar-default navbar-fixed-top")    
      div(class="navbar-header")
        button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")         
        a(href="/" class="navbar-brand") betaville
      div(class="navbar-collapse collapse")        
        ul(class="nav navbar-nav")
          li(class="")
            a(href="/#news") news
          li(class="")
            a(href="/#recent") recent
          li(class="")
            a(href="/#about") about          
          li(class="")
            a(href="/#contribute") contribute


  div(id="login", class="meat")
    h1 Login and Register

    h4 step: 1 
    p Launch the Betaville application and follow the on screan windows, at the step for Login, Click Register Account
    img(src="images/step1.png")

    h4 step: 2 
    p Choose a username, password, and email. 
    img(src="images/step2.png")
    
    h4 step: 3
    p The window will prompt a success and you can use your credentials in the initial screen. 
    img(src="images/step3.png")

    

  script(type="text/javascript", src="/javascripts/bootstrap.min.js")
  script(type="text/javascript", src="/javascripts/libs.js")