/* @override http://localhost:5000/stylesheets/style.css */

body {
	min-height: 2000px;
	padding-top: 53px;
	background-color: #000000;
}

.navbar{
	background-color: #000000;
	border-bottom: 1px solid #ffcc00 !important;
}

.navbar-nav {
	float: right;
}


.navbar-collapse {
  max-height: 340px;
  padding-right: 0px;
  padding-left: 0px;
  overflow-x: visible;
  border-top: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
  border: none;
  background-color: none;
}



@media (max-width: 768px) {
	.navbar-nav {
		float: left;
	}
	.navbar-collapse a{
		min-width: 768px !important;
		text-indent: 30px;
	}


}

.navbar-nav li a{
	color: #5c5242 !important;
	text-transform: lowercase;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

.navbar-nav li a:hover{
	color: #29241c !important;
}


.navbar-nav li a[href="#news"]{
	background-color: #f0e1a5 !important;
	color: #5a2b1b !important;
}

.navbar-nav li a[href="#news"]:hover{
	background-color: #ff6600 !important;
}

.navbar-nav li a[href="#about"]{
	background-color: #55a041 !important;
	color: #94cc00 !important;
}

.navbar-nav li a[href="#about"]:hover{
	background-color: #104016 !important;
}

.navbar-nav li a[href="#featured"]{
	background-color: #004480 !important;
	color: #95d6ff !important;
}

.navbar-nav li a[href="#featured"]:hover{
	background-color: #003d74 !important;
}

.navbar-nav li a[href="#contribute"]{
	background-color: #5a2b1b !important;
	color: #e0b25b !important;
}

.navbar-nav li a[href="#contribute"]:hover{
	background-color: #c05838 !important;
}



.navbar-brand{
	text-indent: 9999em;
	width: 100px;
	overflow: hidden;
	background: url(../images/logo.png) no-repeat center;
	background-size: 100px auto;
	padding-left: 100px;
	padding-right: 50px;
	-right: #5c5242 solid 5px;
	background-color: #000000;
	/*border-right: 5px solid;*/
}


.navbar-default .navbar-toggle{
	  border-radius: 0px;
	border-color: #ffcc00 !important;
}
.navbar-default .navbar-toggle span{
	background-color: #ffcc00 !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	border-color: #fa0000 !important;
	background-color: #ffcc00 !important;
}


.navbar-default .navbar-toggle:hover span,
.navbar-default .navbar-toggle:focus span {
	background-color: #fa0000 !important;
}




.hero {
	width: 100%;	
	height: 600px;
	
	  background: url(../images/hero.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  word-wrap: break-word;
  position: relative;
}

.hero div{
	width: 45%;
	padding: 25px;
	padding-top: 0px;
	background-color: #104016;
	position: absolute;
	top: 100px;
	left: 10%;
	color: #94cc00;	
}

.hero div P{
	color: rgba(115,160,2,0.83);	
}

.hero span .btn-primary {
  color: #ffffff;
  background-color: #ff6600;
  border-color: #ff6600;
  border-radius: 0px;
}

.hero .btn-primary:hover,
.hero .btn-primary:focus,
.hero .btn-primary:active,
.hero .btn-primary.active{
  color: #ffffff;
  background-color: #ee5e02;
  border-color: #b64602;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.hero span{
	height: 35px;
	position: relative;
	display: block;
	width: 232px;
	float: right;
}

.hero span a.mac{
	border-right: 1px solid #b64602 !important;
	border-left: 1px solid #b64602 !important;
}

/*.hero span .web{
	position: absolute;
	left: 0px;
	top: 0px;
}

.hero span .mac{
	position: absolute;
	left: 38%;
}

.hero span .src{
	position: absolute;
	right: 0;
}*/




@media (max-width: 768px) {
	.hero div{
		width: 80%;
		margin: 0 auto;
		position: relative;
		top: 100px;
		left: auto;
		padding-top: 5px;
	}	
	
	/*.hero span{
	width: 100%;
	height: 35px;
	position: relative;
	display: block;
	}
	.hero span .web{
		position: absolute;
		left: 3%;
		top: 0px;
	left: 0;
}
	
	.hero span .mac{
		position: absolute;
		left: 38%;
	}
	
	.hero span .src{
		position: absolute;
		right: 0;
	}*/
}

.meat {
	width: 100%;
	min-height: 300px;
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
}

.meat > *{
	width: 60%;
	margin: 0 20%;
}

.meat p{
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 20px;
}

@media (max-width: 768px) {
	.meat > *{
		width: 90%;
		margin: 0 5%;
	}
}

.meat h1{
	text-align: left;
	margin-top: 10px;
	padding-bottom: 5px;
}

#featured{
	/*background: #94cc00;*/	
	background: #004480;
}

#news{
	background-color: #f0e1a5;
}

#about{
	background-color: #55a041;
	color: #efefef;
	padding-top: 20px;
	border-bottom: none;
}

#contribute{
	background: #5a2b1b;	
}


#featured h1{
	margin: 0px;
	text-indent: 6.7%;
	width: 100%;
	line-height: 50px;
	margin-top: -15px;
	margin-bottom: -15px;
	color: #0082ee;

}

#featured ul{
	list-style: none;
	padding: 0px;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

#featured ul li{
	float: left;
	width: 30%;
	overflow: hidden;	
	margin-left: 2%;
	height: 380px;
	margin-bottom: 20px;
}
#featured ul li span{
	background-color: #000;
	display: block;
	padding: 5px;
	height: 200px;
}
#featured ul li span h2{
	margin: 0px;
	padding: 3px;
	font-size: 15px;
	color: #ffcc00;
}

#featured ul li span h5{
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	color: #ffcc00;
}

#featured ul li span p{
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	color: #ffcc00;
}

#featured ul li img{
	width: 100%;
}


#about{	
	color: #000000;
}

#about h1{	
	color: #94cc00;
}

#about a{
	color: #ffcc00;
}
#about a:hover{
	color: #fff;
}


a{
	color: #c05838;
}

a:hover{
	color: #ffcc00;
}

@media (max-width: 768px) {

	#featured ul{
	list-style: none;
	padding: 0px;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	
}

#featured ul li{
	float: left;
	width: 100%;
	overflow: hidden;	
	margin-left: 1%;
	height: 350px;
	margin-bottom: 20px;
}
	#featured h1{
		text-indent: 5.5%;
	}
}

#contribute{
	color: #e0b25b;
}
#contribute h1{
	border: none;
	background: #5a2b1b;
	color: #e0b25b;
}

#contribute a{
	color: #ff6600 !important;
}

#contribute a:hover{
	color: #ffcc00 !important;
}


footer {
	border-top: 1px solid #ffcc00 !important;
	height: 150px;
	float: left;
	width: 100%;
	
}
footer div{
	width: 60%;
	margin: 0 20%;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer{
	padding-top: 20px;
	border-bottom: none;
	margin-bottom: 0px;
}

