/* @override http://localhost:5000/stylesheets/style.css */

body {
	min-height: 2000px;
	padding-top: 53px;
	background-color: #000000;
}

.navbar{
	background-color: #000000;
}

.navbar-nav {
	float: right;
}

@media (max-width: 768px) {
	.navbar-nav {
		float: left;
	}
}

.navbar-nav li a{
	color: #5c5242 !important;
	text-transform: lowercase;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

.navbar-nav li a:hover{
	color: #29241c !important;
}

.navbar-nav li a[href="#about"]{
	background-color: #004480 !important;
	color: #efefef !important;
}

.navbar-nav li a[href="#about"]:hover{
	background-color: #003d74 !important;
}

.navbar-nav li a[href="#explore"]{
	background-color: #ffffff !important;
}

.navbar-nav li a[href="#explore"]:hover{
	background-color: #efefef !important;
}

.navbar-nav li a[href="#contribute"]{
	background-color: #5a2b1b !important;
	color: #efefef !important;
}

.navbar-nav li a[href="#contribute"]:hover{
	background-color: #c05838 !important;
	color: #efefef !important;
}



.navbar-brand{
	text-indent: 9999em;
	width: 100px;
	overflow: hidden;
	background: url(../images/logo.png) no-repeat center;
	background-size: 100px auto;
	padding-left: 100px;
	padding-right: 50px;
	-right: #5c5242 solid 5px;
	background-color: #000000;
	border-right: 5px solid;
}

div.navbar-collapse.collapse {
	background-color: #c3b9a0;
}

div.navbar.navbar-default.navbar-fixed-top {
	border-bottom-color: #001c33;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #efefef;
}




.hero {
	width: 100%;	
	height: 600px;
	
	  background: url(../images/hero.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 5px #efefef solid;  
  overflow: hidden;
  word-wrap: break-word;
  position: relative;
}

.hero div{
	width: 45%;
	padding: 25px;
	padding-top: 0px;
	background-color: #ff6c28;
	position: absolute;
	top: 100px;
	left: 10%;
	color: #ffffff;	
}

.hero .btn-primary {
  color: #ffffff;
  background-color: #0082ee;
  border-color: #005fb4;
}

.hero .btn-primary:hover,
.hero .btn-primary:focus,
.hero .btn-primary:active,
.hero .btn-primary.active{
  color: #ffffff;
  background-color: #0070d2;
  border-color: #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

@media (max-width: 768px) {
	.hero div{
		width: 80%;
		margin: 0 auto;
		position: relative;
		top: 100px;
		left: auto;
		padding-top: 5px;
	}	
}

.meat {
	width: 100%;
	min-height: 300px;
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
}

.meat > *{
	width: 60%;
	margin: 0 20%;
}

.meat p{
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 20px;
}

@media (max-width: 768px) {
	.meat > *{
		width: 90%;
		margin: 0 5%;
	}
}

.meat h1{
	text-align: left;
	margin-top: 10px;
	padding-bottom: 5px;
}

#explore{
	background: #ffffff;	
}

#about{
	background-color: #004480;
	color: #efefef;
	padding-top: 20px;
	border-bottom: none;
}

#contribute{
	background: #5a2b1b;	
}

#about h1{
	background-color: #004480;
	color: #efefef;
}



#explore h1{
	margin: 0px;
	text-indent: 6.5%;
	width: 100%;
	background: #ffffff;
	line-height: 70px;
	margin-bottom: -20px;
}

#explore ul{
	list-style: none;
	padding: 0px;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

#explore ul li{
	float: left;
	width: 30%;
	overflow: hidden;	
	margin-left: 2%;
	height: 380px;
	margin-bottom: 20px;
}
#explore ul li span{
	background-color: #efefef;
	display: block;
	padding: 5px;
	height: 200px;
}
#explore ul li span h2{
	margin: 0px;
	padding: 3px;
	font-size: 15px;
	color: #5c5242;
}

#explore ul li span h5{
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	color: #6c6459;
}

#explore ul li span p{
	margin: 0px;
	padding: 3px;
	font-size: 12px;
	color: #6c6459;
}

#explore ul li img{
	width: 100%;
}

a{
	color: #c05838;
}

a:hover{
	color: #ffcc00;
}

@media (max-width: 768px) {

	#explore ul{
	list-style: none;
	padding: 0px;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	
}

#explore ul li{
	float: left;
	width: 100%;
	overflow: hidden;	
	margin-left: 1%;
	height: 350px;
	margin-bottom: 20px;
}


}

#contribute{
	color: #e0b25b;
}
#contribute h1{
	border: none;
	background: #5a2b1b;
	color: #e0b25b;
}

#contribute a{
	color: #ff6600 !important;
}

#contribute a:hover{
	color: #ffcc00 !important;
}


footer {
	height: 150px;
	
}
footer div{
	width: 60%;
	margin: 0 20%;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer{
	padding-top: 20px;
	border-bottom: none;
	margin-bottom: 0px;
}

